<main>
	<%- include('../partials/about') %>
	<hr style="border: 10px solid #000">
	<%- include('../partials/home') %>
	<hr style="border: 10px solid #000">
	<%- include('../partials/contact') %>
	<hr style="border: 10px solid #000">
	<%- include('../partials/project') %>
	<hr style="border: 10px solid #000">
	<%- include('../partials/blogs') %>
</main>